.container {
    width: 100vw;
    padding: .5rem;
    overflow: scroll;
}

.stage-container {
    display: flex;
    width: 900px;
    margin: 0 auto;
    justify-content: space-between;
    
}

h1 {
    size: 1.5rem;
    color: #5468ff;
}