h4 {
    color: #111;
    margin: 0;
    font-size: 1.2rem;
}

.stage {
    padding: .5rem;
    border-radius: 4px;
    width: 200px;
    height: fit-content;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px;
}

ul {
    list-style: none;
    padding: 0;
}

.task-card {
    box-shadow: rgb(45 35 66 / 57%) 0 0px 3px;
    display: flex;
    flex-direction: column;
    padding: 0.4rem 0.3rem 0 0.3rem;
    margin: 0.8rem 0.3rem;
    gap: 0.5rem;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1.5rem;
}

.delete-btn {
    color: red;
}

.move-btn {
    color: #5468ff;
}

button:active {
    filter: brightness(65%);
    transform: translateY(2px);
  }