#create-task-input {
  padding:10px;
  margin: 10px;
  font-size: 1rem;
  border-radius: 10px;
  border:1px solid rgb(38, 133, 0); 
  box-shadow:0 0 15px 4px rgba(212, 5, 5, .1);
}

.btn-create {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  background-size: 200% 100%;
  background-position:left bottom;
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow,color .15s,transform .15s;
  transition: background .5s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 1rem;
}

.btn-create:hover {
  background-position:right bottom
}

.btn-create:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
}